.outline-btn {
  font-size: 14px !important;
  font-weight: lighter !important;
  text-transform: uppercase;
  background: linear-gradient(134.72deg, $color-blue-dark 0%, $color-blue-light 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-important{
  border-style: solid !important;
  border-width: 5px !important;
  border-radius: 40px !important;
  border-color: linear-gradient(134.72deg, $color-blue-dark 0%, $color-blue-light 100%) !important;
}

.btn-bg-send {
  background: linear-gradient(134.72deg, $color-blue-dark 0%, $color-blue-light 100%);
  border-radius: 60px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
}

.btn-bg-send:hover {
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
}

.mt-75{
  margin-top: 75px;
}

.mt-50{
  margin-top: 50px;
}
.mt-15{
  margin-top: 15px;
}
.mt-20{
  margin-top: 20px;
}
.mt-25{
  margin-top: 25px;
}
.mb-25{
  margin-bottom: 25px;
}

.mb-75{
  margin-bottom: 75px;
}

.mb-30{
  margin-bottom: 30px;
}
.mr-30{
  margin-right: 30px;
}
