*{
  font-family: 'Open Sans', sans-serif;
  color: $color-text;
}
a{
  font-size: 16px;
  color: white;
  font-weight: lighter;
}

a:focus, a:hover {
  color: white;
  text-decoration: none;

  text-decoration-style: initial;
  text-decoration-color: initial;
}

a:focus, a:hover {
  color: white;
  text-decoration: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
}


h5.title{
  color: $color-text;
  font-family: "Josefin Sans", serif-sans, sans-serif;
}
p{
  font-weight: 300;
  font-size: 16px;
  margin: 0;
}